<h1>Album</h1>
<p>
  <strong>Title:</strong>
</p>

<p>
  <strong>Artist:</strong>
</p>
<br>
<%= link_to 'Add song', new_album_song_path(@album, @song) %>
<br>
<td><%= link_to 'Listen' %> </td> |
<%= link_to 'Edit' %>   |
<%= link_to 'Delete' %> |
<%= link_to 'Back', albums_path %>
