<h1>Album</h1>
<p>
  <strong>Title:</strong>
</p>

<p>
  <strong>Artist:</strong>
  <%= image_tag @album.picture.file, class: "img-thumbnail", width: "100px" %>
  <br />
  <% @album_songs.each do |s| %>
    <audio id="<%= s.id %>" controls>
      <source src="<%= s.file.url %>"><%= s.title %></source>
    </audio>
    <!-- <%= s.file.url %> -->
  <% end %>
</p>
<br>
<%= link_to 'Add song', new_album_song_path(@album, @song) %>
<br>
<td><%= link_to 'Listen' %> </td> |
<%= link_to 'Edit', edit_album_path(album) %>   |
<%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', albums_path %>
