
<h1>Playlists</h1>

<table>
  <thead>
    <tr>
      <td colspan="3"> <p>Here are your playlists.</p></td>
    </tr>
  </thead>

  <tbody>
    <table>
      <% current_user.playlists.each do |playlist| %>
      <tr> 
        <td><h2><%= playlist.title %></h2></td>
        <td><%= link_to 'Show', playlist %>  || </td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %> || </td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end%>
    </table>
    <%= link_to 'Add new playlist', new_playlist_path %>
  </tbody>
</table>
